table.package_item {
   width: 100%;
}
table.package_item th {
   width: 150px;
   vertical-align: top;
}

table.package_item input[type=text],
table.package_item input[type=file],
table.package_item textarea {
   width: 400px;
}

table.package_item textarea {
   resize: both;
}

table.package_item input[type=text] {
   padding: 0 3px;
   margin-right: 3px;
}

table.package_item .table_retchecks {
   border-spacing: 0;
}
table.package_item .table_retchecks input {
   width: 65px;
}

table.package_item_list {
   width: 100%;
}
table.package_item_list td {
   max-width: 70px;
   vertical-align: top;
   overflow: auto;
   word-wrap: break-word;
   white-space: normal;
}
table.package_item_list td.control {
   width: 14px;
}
table.package_item_list .more {
   float: right;
   cursor: help;
}
table.package_item_list .filename {
   white-space: normal;
}
table.package_item_list ul.retChecks {
   list-style-type: disc;
   padding-left:20px;
}

table.package_item_list ul.retChecks li {
   margin-left:3px;
}
table.package_item_list tr.selected {
   background-color: #DFC8C8;
}
a.edit {
   cursor: pointer;
}

.filename .size {
   font-size: 8px;
}

.fingerprint {
   font-size: 8px;
   margin-top: 2px;
   margin-bottom:2px;
}

.fingerprint_good {
   min-height: 16px;
   line-height: 16px;
   background-image: url("../pics/fingerprint-good.png");
   background-repeat: no-repeat;
   color:#003000;
   padding-left : 18px;
   vertical-align:middle;
}

.fingerprint_bad {
   min-height: 16px;
   line-height: 16px;
   background-image: url("../pics/fingerprint-bad.png");
   background-repeat: no-repeat;
   color:#FF0000;
   padding-left : 18px;
   vertical-align:middle;
}

.fingerprint_badmsg {
   background-color: #FFEEEE;
   color:#550000;
   line-height: 1.5em;
}
/* drag and drop element */
.drag {
   background-image: url("../pics/drag.png");
   background-repeat: repeat-x;
   cursor: move;
   width: 16px;
   height: 16px;
   border:0 !important;
}
