table.package_item {
   width: 100%;
}
table.package_item th {
   width: 150px;
   vertical-align: top;
}

table.package_item input[type=text], 
table.package_item input[type=file], 
table.package_item textarea {
   width: 250px;
}

table.package_item input[type=text] {
   padding: 0 3px;
   margin-right: 3px;
}

table.package_item .table_retchecks {
   border-spacing: 0;
}
table.package_item .table_retchecks td {
   padding: 0;
}
table.package_item .table_retchecks input {
   width: 65px;
}

table.package_item_list {
   width: 100%;
}
table.package_item_list td {
   max-width: 70px;
   vertical-align: top;
   overflow: auto;
   word-wrap: break-word;
   white-space: normal;
}
table.package_item_list td.control { 
   width: 14px;
}
table.package_item_list .more {
   float: right;
   cursor: help;
}
table.package_item_list .filename {
   white-space: normal;
}
table.package_item_list ul.retChecks {
   list-style-type: disc;
   padding-left:20px;
}

table.package_item_list ul.retChecks li {
   margin-left:3px;
}
table.package_item_list tr.selected {
   background-color: #DFC8C8;
}
a.edit {
   cursor: pointer;
}


/* drag and drop element */
.drag {
   background-image: url("../pics/drag.png");
   cursor: move;
   width: 14px;
   height: 10px;
   border:0 !important;
}



