.msgboxmonit {
    margin: 0 auto 20px;
    width: 700px;
    padding: 11px 0;
    font-size: 11px;
    text-align: center;
    font-family: "Trebuchet MS", Tahoma, Arial, Helvetica, sans-serif;
    font-weight: bold;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -moz-box-shadow: 0px 1px 3px #888;
    -webkit-box-shadow: 0px 1px 3px #888;
    box-shadow: 0px 1px 3px #888;
    /* Anciens navigateurs */
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
 }

 .msgboxmonit-red {
    border: 1px red solid;
    background-color: #FDD;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#FEE),to(#FDD));
    background-image: -webkit-linear-gradient(top,#FEE,#FDD);
    background-image: -moz-linear-gradient(top,#FEE,#FDD);
    background-image: -o-linear-gradient(top,#FEE,#FDD);
    background-image: linear-gradient(top,#FEE,#FDD);
 }

  .msgboxmonit-orange {
    border: 1px orange solid;
    background-color: #FFD;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#FFE),to(#FFD));
    background-image: -webkit-linear-gradient(top,#FFE,#FFD);
    background-image: -moz-linear-gradient(top,#FFE,#FFD);
    background-image: -o-linear-gradient(top,#FFE,#FFD);
    background-image: linear-gradient(top,#FFE,#FFD);
 }

 .msgboxmonit-green {
    border: 1px #659900 solid;
    background-color: #DFD;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#EFE),to(#DFD));
    background-image: -webkit-linear-gradient(top,#EFE,#DFD);
    background-image: -moz-linear-gradient(top,#EFE,#DFD);
    background-image: -o-linear-gradient(top,#EFE,#DFD);
    background-image: linear-gradient(top,#EFE,#DFD);
 }

 .msgboxmonit-grey {
    border: 1px #CCC solid;
    background-color: #DDD;
    background-image: -webkit-gradient(linear,left top, left bottom,from(#FFF),to(#DDD));
    background-image: -webkit-linear-gradient(top,#FFF,#DDD);
    background-image: -moz-linear-gradient(top,#FFF,#DDD);
    background-image: -o-linear-gradient(top,#FFF,#DDD);
    background-image: linear-gradient(top,#FFF,#DDD);
}


/*td > input[type=radio] {
   padding: 0;
   margin: 0;
   float: left;
   position: absolute;
   left: 0;
   opacity: 0;
}

td > label {
   width: 60px;
   text-align: center;
   line-height: 18px;
   display: inline-block;
   border: 1px solid transparent;
}*/

td:not(#foo) > input:hover + label, td:not(#foo) > input:focus + label,
td:not(#foo) > input + label:hover, td:not(#foo) > input:focus + label {
   background-color: #e1d39e;
   border: 1px solid #a99f78;
}

/* Checked styles */
td:not(#foo) > input[type=radio]:checked + label {
   background-color: #e1d39e;
   border: 1px solid #a99f78;
}

.storage {
    margin: 0px auto 20px;
    padding: 11px 0;
    font-size: 10px;
    text-align: center;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    -moz-box-shadow: 0px 1px 3px #888;
    -webkit-box-shadow: 0px 1px 3px #888;
    box-shadow: 0px 1px 3px #888;
    /* Anciens navigateurs */
    -o-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    position: absolute;
 }

/* set task's comments to monospace and left align */
.fusinv_task_comment {
   width: 500px;
   max-width: 500px;
   text-align: left;
   font-family: monospace;
}



/*
 * The following css is used with elements from PluginFusioninventoryCommonView
 */

.fusinv_panel {
   width: 90%;
   background: #EFEFEF;
   padding: 10px;
   border: #AAA solid 1px;
   border-radius: 5px;
   margin: 0 auto;
}

.fusinv_form {
    width: 50%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

.fusinv_form.large {
   width: 100%;
}

.fusinv_form label,
.fusinv_form input ,
.fusinv_form textarea
{
    display: inline-block;
}

.fusinv_form label
{
    width: 30%;
    text-align: right;
    vertical-align:top;
    padding:2px;
    /*border-top: solid 1px #ccc;*/
    /*border-bottom: solid 1px #ccc;*/
    margin-bottom: 1%;
}

.fusinv_panel .fusinv_form label {
   width: initial;
}

.fusinv_form .input_wrap.split_column {
   padding: 5px;
   width:45%;
   margin-right: 5px;
}

.fusinv_form div.input_wrap {
    margin: 0 0 0 0;
    margin-bottom: 5px;
    display: inline-block;
    width:60%;
    text-align: left;
}

.fusinv_panel div.input_wrap {
    margin: 0 5px 0 0;
    width: initial;
}

/*.fusinv_form label + div.input_wrap > span +i input,*/
.fusinv_form label + div.input_wrap > input,
.fusinv_form label + div.input_wrap > select,
.fusinv_form label + div.input_wrap > textarea,
.fusinv_form label + div.input_wrap > div > textarea {
    width:100%;
    padding: 2px;
    border: 1px solid #ccc;
    border-top: solid 1px #ccc;
    max-width: 100%;
    box-sizing: border-box;
}

.fusinv_form div.input_wrap > span.description {
  font-size: 0.8em;
  font-style: italic;
}
.fusinv_form label + div.input_wrap.datetime input[type="text"],
.fusinv_form label + div.input_wrap input[type="checkbox"]
{
    width: auto;
}

.taskjob_item {
   display: inline-block;
   margin: 2px;
   padding: 2px;
   border: 1px #e0e0e0 solid;
   border-radius: 3px;
   background-color: #e7e7e7;
}

.taskjob_item.new {
   background-color: #FDDB6F;
}

.taskjob_item:hover {
   border-color: #CCC;
   box-shadow: 0 0 2px #CCC;
   background-color: #D7D7D7;
   color: black;
   font-weight: bolder;
}

/* Logs monitoring styles */

.jobs_block {
   width: 90%;
   text-align: left;
   padding: 10px;
   margin: 0 auto;
}

.monitoring-logs .tasks_block {
   width: 90%;
   margin: 0 auto;
}

.monitoring-logs .task_block .jobs_block {
   display: none;
}

.monitoring-logs .task_block.expand .jobs_block {
   display: block;
}

.monitoring-logs .task_block > h3 {
   cursor: pointer;
   background: url(../../../pics/expand.gif) no-repeat left center;
   padding-left: 20px;
   display: inline-block;
}

.monitoring-logs .task_block.expand > h3 {
   background: url(../../../pics/collapse.gif) no-repeat left center;
}

.jobs_block .job_block {
   border: #AAA solid 1px;
   border-radius: 5px;
   background: #EFEFEF;
   padding: 10px;
   margin-bottom:10px;
}

.target_block > h3 {
   margin: 0;
}

.target_block {
   border: #CCC solid 1px;
   border-radius: 5px;
   background: #F7F7F7;
   padding: 10px;
   margin: 5px 0;
}

.job_target h4 {
   margin:0;
   padding-bottom: 3px;
   margin-bottom: 5px;
   border-bottom: 1px dotted #ccc;
}

.agents_block li{
   display: none;
}



a > div.fold {
    display: inline-block;
    background-image: url('../pics/toggle-expand.png');
    width: 14px;
    height: 14px;
    vertical-align: bottom;
    cursor: pointer;
}

a.expanded > div.fold {
    background-image: url('../pics/toggle.png');
}

.job_target h4 > a {
   font-size: inherit;
}

.job_target div.stats {
   display: block;
   margin: 0 auto;
}

/*
.job_target ul {
    margin: 0;
    padding: 0;
    width: 80%;
    display: block;
}
*/

.job_target > div {
   margin: 0 auto;
   text-align: center;
}

.target_block  div.target_stats .stats_block
{
   display: inline-block;
   min-width: 200px;
}

.counter_block .counter_value {
   text-align: right;
   float: right;
}

/*
.target_block  div.target_stats .counter_block > a,
.target_block  div.target_stats .counter_block.empty > a {
   margin: 2px;
   padding: 2px;
   border-radius: 3px;
   background: #EFEFEF;
   color: #777;
   display: block;
   font-style: italic;
   font-size:80%;
   padding-left: 5px;
   text-align: left;
   font-family: monospace;
   cursor: pointer;
}
*/

.target_block  div.target_stats .counter_block > a,
.target_block  div.target_stats .counter_block.empty > a {
   cursor: pointer;
   display: block;
   background: inherit;
   color: inherit;
   font-family: monospace;
   font-weight: inherit;
}

.counter_block {

}

.progressbar.empty {
   background-image: url('../pics/stripes-nodata.png');
}

.counter_block,
.job_agents span.state
{
   color: black;
   background: #CCC;
   border-color: #efefef;
   font-weight: bolder;
   font-style: normal;
   margin: 2px;
   padding: 2px;
   border-radius: 3px;
   font-size:0.8em;
   padding-left: 5px;
   text-align: left;
   font-family: monospace;
   border-style: solid;
   border-width: 1px;
}

.target_block div.target_stats .counter_block.empty:hover,
.target_block div.target_stats .counter_block:hover
{
   border-style: dotted;
   border-width: 1px;
   border-color: #aaa;
}

.target_block  div.target_stats .counter_block.empty {
   background: #EFEFEF;
   border-color: #EFEFEF;
   color: #777;
   font-weight: lighter;
}

.target_block  div.target_stats .agents_success {
   color: green;
   background: #AAFFAA;
   font-weight: bolder;
   font-style: normal;
}

.target_block  div.target_stats .agents_error {
   color: white;
   background: red;
   font-weight: bolder;
   font-style: normal;
}

.target_block  div.target_stats .agents_running {
   color: #000077;
   background: #AAAAFF;
   font-weight: bolder;
   font-style: normal;
}

.target_block  div.target_stats .agents_cancelled {
   color: white;
   background: #9c7964;
   font-weight: bolder;
   font-style: normal;
}

.target_block > div {
   display: inline-block;
   vertical-align: top;
}

.target_block > div.target_details {
   text-align: left;
   width: 100%;
}
.target_block .target_infos {
   max-width: 400px;
   vertical-align: top;
   display: inline-block;
}

.target_block h4 {
   margin: 0;
   margin-bottom: 10px;
}

.target_block h4 > a {
   font-size: 16px;
   font-weight: bolder;
}

.target_stats {
   margin: 0;
   display: inline-block;
   text-align: center;
   float: left;
}
#onetimedeploy_form .target_stats {
   width: 100%;
}

.target_block div.progressbar {
   height: 100px;
   display: inline-block;
   background-color: #EFEFEF;
   width: 400px;
   border-radius: 5px;
}

.agents_block {
   border-top: dashed #ccc 1px;
   display: block;
   width: 100%;
}


.agent_block {
   border: 1px solid #CCC;
   border-left-width: 5px;
/*   padding: 2px 5px;*/
   margin: 2px;
   right:0;
   vertical-align: bottom;
   display: block;
   background: #EEE;
   font-size: xx-small;
   color: #777;
   position:relative;
}

.agent_block.pinned {
   margin-bottom: 10px;
}

.agent_block.agent_success{
   background: #AFA;
   border-color: green;
}
.agent_block.agent_success > * {
   color: green;
}

.agent_block.agent_error{
   background: #FDD;
   border-color: red;
}

.agent_block.agent_error > * {
    color: red;
}

.agent_block.agent_prepared {
   border-color: #777;
}

.agent_block.agent_prepared > *{
   color: #444;
}

.agent_block.agent_cancelled {
   border-color: #785036;
}
.agent_block.agent_cancelled > *{
   color: #785036;

}
.agent_block.agent_running {
   border-color: #7777EE;
}
.agent_block.agent_running > * {
   color: blue;
}


.agent_block > *
{
   padding: 5px;
   display: block;
}


.agent_block > a {
    line-height: 16px;
    vertical-align: bottom;
    display: block;
    padding: 0;
    margin: 5px;
}

.agent_block.pinned > a.name{
   padding-left: 20px;
   margin-left: 68px;
   background: url('../../../pics/menu_show.png');
   background: url('../pics/pinned.png');
   background-repeat: no-repeat;
}

.agent_block > span.comment {
   opacity: 0.8;
   font-weight: bold;
   min-height: 10px;
}

.agent_block:hover > * {
   opacity: 1.0;
}

.agent_block a.name:hover {
   color: black;
}

.agent_block > a.link {
   background: url(../pics/link.png) no-repeat;
   display: inline-block;
   width: 14px;
   height: 14px;
   float: left;
}

.agent_block input[type=checkbox] {
   margin-top: 5px;
   margin-right: 5px;
   float: left;
}


.agent_block > a.btn {
   display: inline-block;
   width: 14px;
   height: 14px;
   float: left;
}
.agent_block > a.restart > i,
.agent_block > a.cancel > i {
   color: red;
}

.agent_block > a.btn:hover {
   opacity: .7;
}

.agent_block > span.date {
   position: absolute;
   top: 0;
   right: 0;
}

/* Execution tables */

table.runs,
table.runs *{
   background: white;
   opacity: 1.0;
   border-spacing: 0;
}

table.runs {
   border: none;
}

table.runs th {
   background-color: grey;
   color:white;
}

table.runs td {
   white-space: nowrap;
   padding-right: 10px;
   vertical-align: top;
}


table.runs tr {
   border-bottom : 1px dashed grey;
   margin-bottom: 5px;
}

table.runs tr.void {
   border: none;
   margin-bottom: 5px;
}

table.runs td.comment {
   width: 100%;
   white-space: normal;
}

.runs_block {
   background: white;
   border-top: 1px solid #ccc;
   display:none;
}

.run_block {
   padding: 10px;
}

.run_block h4 {
   margin: 0;
   font-family: monospace;
   border-bottom: 1px dotted black;
}

.run_block table {
   border-bottom: 1px dotted #ccc;
   border-collapse:collapse;
   width: 100%;
}

.run_block .logs_block {
 /*  display:none; */
}

.run_block table tr {
   width: 100%;
   margin: 5px 0;
}

.run_block table tr > td {
   border-bottom: 1px solid #ccc;
   padding: 5px;
   vertical-align: top;
   width: 20%;
   margin: 3px 0;
}
.run_block table tr > td.log_state {
   width: 10%;
}

.run_block .log_state span {
   display: block;
   text-align: center;
   background: #F1F1F1;
   border-radius: 3px;
   border: 1px solid #DDD;
   color: #777;
}

.run_block span.log_error {
   background: #F22;
   color: white;
   font-weight: bolder;
   border-color: #F66;
}

.run_block span.log_ok {
   border-radius: 3px;
   border-color: #6F6;
   background: #AFA;
   color: green;
   font-weight: bolder;
}

.run_block table tr > td.log_comment {
   /* border: 1px solid #CCC; */
   width: 70%;
   min-width: 70%;
   font-family: monospace;
}

.show_more {
   width: 100%;
   display: block;
}

.show_more > .submit {
   display: block;
   float: left;
   margin: 2px;
   padding: 5px;
}
.addbutton {
   cursor: pointer
}

.refresh_button {
   padding: 5px;
   display: block;
   float: right;
}

.refresh_button > span {
   width: 32px;
   height:32px;
   margin: 0;
   padding: 0;
   display: block;
   background-image: url('../pics/monitoring_refresh.gif');
   background-repeat: no-repeat;
}

.refresh_button > span.fetching {
   background-image: url('../pics/monitoring_fetching.gif');
}
.refresh_button > span.computing {
   background-image: url('../pics/monitoring_computing.gif');
}

.task_export_form > label {
   font-weight: bold;
   display: block;
   margin-bottom: 5px;
}

.state_checkboxes {
   text-align: left;
}

.agent_state_type_checkbox {
   float: left;
   width: 33%;
}

.clear_states {
   clear: both;
   margin-bottom: 10px;
}

#fiTaskExport_modalWindow {
   display: none;
}

/*
 * submit class grabbed from GLPI core
 */
/*
.submit {
   cursor:pointer;
   height: auto;
   font: bold 12px Arial, Helvetica;
   color: #8f5a0a;
   background-color: #ffb94b;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#fddb6f), to(#ffb94b));
   background-image: -webkit-linear-gradient(top, #fddb6f, #ffb94b);
   background-image: -moz-linear-gradient(top, #fddb6f, #ffb94b);
   background-image: -ms-linear-gradient(top, #fddb6f, #ffb94b);
   background-image: -o-linear-gradient(top, #fddb6f, #ffb94b);
   background-image: linear-gradient(top, #fddb6f, #ffb94b);

   /* For Internet Explorer 5.5 - 7 */
/*   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fddb6f, endColorstr=#ffb94b);
   /* For Internet Explorer 8 */
/*   -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fddb6f, endColorstr=#ffb94b)";
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   text-shadow: 0 1px 0 rgba(255,255,255,0.5);
   -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
   -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
   box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
   border-width: 1px;
   border-style: solid;
   border-color: #d69e31 #e3a037 #d5982d #e3a037

}
*/
/*
.submit:hover {

   border: 1px inset #888888;
   background-color: #fddb6f;
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ffb94b), to(#fddb6f));
   background-image: -webkit-linear-gradient(top, #ffb94b, #fddb6f);
   background-image: -moz-linear-gradient(top, #ffb94b, #fddb6f);
   background-image: -ms-linear-gradient(top, #ffb94b, #fddb6f);
   background-image: -o-linear-gradient(top, #ffb94b, #fddb6f);
   background-image: linear-gradient(top, #ffb94b, #fddb6f);

}
*/
.lockfield {
   background-image: url('../pics/lock.png');
   background-repeat: no-repeat;
   background-position: right;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.fi_board {
   width: 1300px;
   margin: 0 auto;
}

.fi_board::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

.fi_board .fi_chart {
   height: 430px; /* 380px for chart + 50px for H2 */
   width: 400px;
   float: left;
   margin: 2px;
   box-sizing:border-box;
}

.fi_board .fi_chart svg.nvd3-svg {
   height: initial;
   width: initial;
}

.fi_board .fi_chart .fi_chart_title {
   font-size: 1em;
   background-color: #f3f3f3;
   margin: 0;
   padding: 0.83em 5px;
   box-sizing:border-box;
   text-align: center;
   height: 50px;
}

.fi_board .fi_chart svg {
   background-color: #f3f3f3;
}

@media screen and (max-width: 700px) {
   .fi_board {
      width: 95%;
   }

   .fi_board .fi_chart {
      width: 100%;
   }

   .fi_board .fi_chart svg.nvd3-svg {
      height: 100%;
      width: 100%;
   }
}

.toggle_run {
   background: rgba(255, 255, 255, .5) no-repeat 2px 2px;
   background-image: url("../../../pics/expand.png");
   padding: 2px 2px 2px 22px;
   height: 14px;
   display: inline-block;
}

.toggle_run.expand {
   background-image: url("../../../pics/collapse.png");
}

#refresh_status {
   cursor: pointer;
}

#agent_status {
    margin-left: 5px;
}

#force_inventory_button {
   position: relative;
   padding: 2px 5px 2px 15px;
   border: 1px solid #B8B8B8;
   border-radius: 2px;
   display: none;
   cursor: pointer;
}

#force_inventory_button .fas {
    margin-right: 5px;
    top: 4px;
}

#force_inventory_button:hover {
   border: 1px solid #CC7D7D;
}

/*
#force_inventory_button:before {
   position: absolute;
   content: '\f0e7';
   color: #B8B8B8;
   font-family: FontAwesome;
   left: 5px;
   top: 4px;
}
 */

#force_inventory_button:hover:before {
   color: #CC7D7D;
}

.beta {
   position: relative;
   margin: .5em auto;
   padding: .5em;
   border: 1px solid red;
   border-radius: .5em;
   width: 40em;
   color: red;
}


.beta .fa,
.beta a {
   color: red;
   vertical-align: middle;
}

.beta a:nth-child(2) {
   font-size: 1.5em;
}

.beta .trans {
   position: absolute;
   bottom: .2em;
   right: .2em;
   text-align: right;
}

.beta + h2 {
   text-align: center;
}

hr.criteriarule {
   border: 0;
   height: 1px;
   background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
   background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}
