<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : plugin.xml.xml
    Created on : July 24, 2009, 11:16 PM
    Author     : ddurieux
    Description:
        Purpose of the document follows.
-->

<root>
   <name>Tracker</name>
   <state>test</state>
   <logo>http://www.siprossii.com/image/actualite.jpg</logo>
   <description>
      <short>
         <fr><![CDATA[Récupération des informations via le protocole SNMP]]></fr>
         <en></en>
      </short>
      <long>
         <fr><![CDATA[Tracker permet de récupérer les informations des équipements réseau via le protocole SNMP :
         - découverte des équipement réseau avec une plage d’IP
         - prise en charge des switchs, routeurs, imprimantes
         - connection entre les ordinateurs / imprimantes sur les switchs seulement pour - cisco - hp procurve - 3com Intellijak 225
         - gestion des adresses MAC inconnues
         - gestion des cartouches et compteurs d’imprimantes
         - gestion des versions SNMP v1, v2c]]></fr>
         <en></en>
      </long>
   </description>
   <homepage>http://forge.glpi-project.org/Trakcer/</homepage>
   <download>http://forge.glpi-project.org/Tracker/download.php</download>
   <authors>
      <author>David DURIEUX</author>
   </authors>
   <versions>
      <version>
          <num>2.0.0</num>
          <compatibility>0.71</compatibility>
      </version>
      <version>
          <num>2.0.2</num>
          <compatibility>0.71</compatibility>
      </version>
      <version>
          <num>2.1.0</num>
          <compatibility>0.72</compatibility>
      </version>
   </versions>
   <langs>
      <lang>fr_FR</lang>
      <lang>en_GB</lang>
   </langs>
   <license>GPL v2+</license>
   <category>network</category>
</root>
