<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : plugin.xml.xml
    Created on : July 24, 2009, 11:16 PM
    Author     : ddurieux
    Description:
        Purpose of the document follows.
-->

<root>
   <name>Tracker</name>
   <key>tracker</key>
   <state>stable</state>
   <logo>https://dev.indepnet.net/svn/plugins/tracker/trunk/pics/tracker.png</logo>
   <description>
      <short>
         <fr><![CDATA[Récupération des informations via le protocole SNMP. Interrogation des imprimantes (informations + état des cartouches + compteurs d'impression) et des switch (informations de chaque port + récupération des connexions des ordinateurs sur les switchs)]]></fr>
         <en><![CDATA[Get informations by SNMP protocol]]></en>
      </short>
      <long>
         <fr><![CDATA[Tracker permet de récupérer les informations des équipements réseau via le protocole SNMP :<br />
         - découverte des équipement réseau avec une plage d’IP<br />
         - prise en charge des switchs, routeurs, imprimantes<br />
         - connection entre les ordinateurs / imprimantes sur les switchs seulement pour - cisco - hp procurve - 3com Intellijak 225<br />
         - gestion des adresses MAC inconnues<br />
         - gestion des cartouches et compteurs d’imprimantes<br />
         - gestion des versions SNMP v1, v2c<br />
         Il se compose d'une partie serveur et d'une partie et d'une partie agent écrit en perl.<br />
         Cet agent peut s'installer sur chaque site distant afin de récupérer les informations des équipements réseau.]]></fr>
         <en><![CDATA[Tracker permits to get informations from networking devices with SNMP protocol :<br />
         - networking devices discovery with IP range<br />
         - care switches, routers, printers<br />
         - connexions between computers / printers with swicthes (only cisco, HP Procurve and 3com Intellijack 225)<br />
         - management of unknown MAC addresses<br />
         - management of cartridges and printers counters<br />
         - management of SNMP versions v1, v2c]]></en>
      </long>
   </description>
   <homepage>http://forge.glpi-project.org/Tracker/</homepage>
   <download>http://forge.glpi-project.org/Tracker/download.php</download>
   <authors>
      <author>David DURIEUX</author>
   </authors>
   <versions>
      <version>
          <num>2.1.0</num>
          <compatibility>0.72</compatibility>
      </version>
      <version>
          <num>2.0.2</num>
          <compatibility>0.71</compatibility>
      </version>
      <version>
          <num>2.0.0</num>
          <compatibility>0.71</compatibility>
      </version>
      <version>
          <num>1.1.0</num>
          <compatibility>0.71</compatibility>
      </version>
      <version>
          <num>1.0.0</num>
          <compatibility>0.71</compatibility>
      </version>
   </versions>
   <langs>
      <lang>fr_FR</lang>
      <lang>en_GB</lang>
   </langs>
   <license>GPL v2+</license>
   <tags>
         <fr>
            <tag>réseau</tag>
            <tag>SNMP</tag>
            <tag>Switchs</tag>
            <tag>imprimantes</tag>
            <tag>inventaire</tag>
         </fr>
         <en>
            <tag>network</tag>
            <tag>SNMP</tag>
            <tag>switchs</tag>
            <tag>printers</tag>
            <tag>inventory</tag>
         </en>
   </tags>
</root>
