#mainformtable > tbody > tr:nth-child(14) > td:nth-child(2) > table > tbody > tr:nth-child(2) > td:nth-child(3) {
   background-image: url('../../../../plugins/fusioninventory/pics/lock.png');
   background-repeat: no-repeat; 
   background-position: right;
}