table.package_item {
   width: 100%;
}
table.package_item th {
   width: 120px;
}

table.package_item input[type=text], 
table.package_item textarea,
table.package_item select {
   width: 100%;
}


/* drag and drop element */
.drag {
   background-image: url("../pics/drag.png");
   position: relative;
   cursor: move;
   /*z-index: 10;*/
   width: 12px;
   height: 10px;
   border:0 !important;
}