table.package_item {
   width: 100%;
}
table.package_item th {
   width: 100px;
}

table.package_item input[type=text], 
table.package_item input[type=file], 
table.package_item textarea,
table.package_item select {
   width: 100%;
}

table.package_item_list {
   width: 305px;
}
table.package_item_list td {
   max-width: 70px;
   vertical-align: top;
   overflow: hidden;
  -o-text-overflow: ellipsis; /* pour Opera 9 */
  text-overflow: ellipsis;
  white-space: nowrap;
}
table.package_item_list td.word-wrap {
   overflow: auto;
   word-wrap: break-word;
   white-space: normal;
}

table.package_item_list td.control { 
   padding: 2px 1px;
   width: 14px;
}
table.package_item_list .more {
   float: right;
   cursor: help;
}
table.package_item_list .filename {
  width:200px;
}
table.package_item_list .edit {
  cursor: pointer;
}


/* drag and drop element */
.drag {
   background-image: url("../pics/drag.png");
   position: relative;
   cursor: move;
   /*z-index: 10;*/
   width: 12px;
   height: 10px;
   border:0 !important;
}



